# folders
.turbo
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
dist
node_modules
temp

# files
**/coverage/*
**/coverage.json
.nyc_output/
*.log
.DS_STORE
.env
.idea
.ignore
.npmrc

examples/react-web-components/src/clientToken.ts
