*.min.*
_templates/generator/with-prompt/prompt.js

#!include:.gitignore
# https://github.com/prettier/prettier/issues/8048

# folders
.yarn
dist
lib
node_modules
temp
examples/.github
.changeset
build

# files
**/coverage/*
*.log
.DS_STORE
.env
.idea
.ignore
.npmrc
.next
**/mockServiceWorker.js
