.container {
  display: grid;
  width: 100%;
  grid:
    'sidebar topbar' auto
    'sidebar content' 1fr / auto 1fr;
  overflow: hidden;
  height: 100vh;
  isolation: isolate;
}

.content {
  grid-area: content;
  min-width: 0;
  min-height: 0;
  overflow: auto;
}

.sidebar {
  grid-area: sidebar;
  min-width: 0;
  min-height: 0;
  overflow: auto;
  z-index: 2;
}

.topbar {
  grid-area: topbar;
  min-width: 0;
  min-height: 48px;
}
