@use "@primer-io/goat";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  gap: goat.space(4);
  min-height: 100vh;
}

.logo {
  //animate
  animation: rotate 2s linear infinite;
}

//rotate animation

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
