@use '@primer-io/goat';

.collapsibleContent {
  padding-top: goat.space(4);
  padding-bottom: goat.space(2);
  border-top: 1px solid goat.color('gray-600');
  border-bottom: 1px solid goat.color('gray-600');
  margin-top: goat.space(8);
  margin-bottom: goat.space(4);
}
